/* your code here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

footer {
  background: #000;
  width: 100%;
  color: #fff;
}

footer .content {
  max-width: 1200px;
  margin: auto;
  padding: 40px 40px 20px 40px;
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo-details .logo_name {
  font-size: 30px;
  font-weight: 600;
}

.media-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.media-icons a:nth-child(1) { background: #4267B2; }
.media-icons a:nth-child(2) { background: #1DA1F2; }
.media-icons a:nth-child(3) { background: #E1306C; }
.media-icons a:nth-child(4) { background: #0077B5; }
.media-icons a:nth-child(5) { background: #FF0000; }

.link-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-boxes .box {
  width: calc(100% / 4 - 10px);
}

.link-boxes .box li {
  list-style: none;
  margin: 8px 0;
  color: #ccc;
  font-size: 15px;
}

.link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 30px;
  background: #fff;
}

.bottom-details {
  background: #2c2f36;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #ccc;
}

@media (max-width: 900px) {
  .link-boxes .box {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  footer .top {
    flex-direction: column;
    text-align: center;
  }

  .media-icons {
    margin-top: 20px;
  }

  .link-boxes .box {
    width: 100%;
  }
}
