* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

footer {
  background: #000;
  color: #fff;
}

.content {
  padding: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_name {
  font-size: 30px;
}

.media-icons span {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 50%;
  background: #444;
  text-align: center;
  line-height: 40px;
}

.link-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.box {
  list-style: none;
}

.link_name {
  font-size: 18px;
  margin-bottom: 10px;
}

.box li {
  margin: 6px 0;
  color: #ccc;
}

.bottom-details {
  background: #2c2f36;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}
